__pycache__/
log/

#data loader test
cityscapes_test.py
ddd17_test.py
DSEC_align.py
DSEC_final.py
DSEC_final_UDA.py
DSEC_hdr.py
DSEC_loader_test.py
DSEC_test.py
DSEC_test_2.py
e2vid_test.py
EventScape_final.py
Eventscape_final_UDA.py
eventscapeloadertest.py
flowtest.py

config/settings_DDD17.yaml
config/eventscape_settings_snaga.yaml

training/img_to_events_pre_trainer.py
training/img_to_events_trainer.py
training/semantic_segmentation_pre_trainer.py
training/semantic_segmentation_recurrent_trainer.py
training/supervised_baseline.py
training/ess_supervised_trainer.py
training/semantic_segmentation_baseline_supervised.py
training/style_latent_trainer.py
training/style_object_det_trainer.py